<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>PySpams</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="static/css/bootstrap2.min.css">

	<script src="static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="static/js/new_matrjs_alt.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<style>

		input[type='submit', type="reset"] {
			float: left;
			margin: 10px 0;
			padding: 0px 30px;
		}
		input[type='file'] {
			float: left;
			margin: 10px 0;
			padding: 0px 0px;
		}
		input[type="text"]{
			width: 100%
		}

		td {
			min-width: 30px;
			min-height: 30px;
			text-align: center;
		}

</style>

	</style>
</head>


<body>
	<div class="container-fluid">

		 <div id="content">

				    {% include "/model1_form.html" %}
						{% block body %} {% endblock %}
				</div>


  </div>

</body>

</html>
