{% extends "main.html" %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
  <div>
    <h1>Perform ms analysis</h1><br>
    <div id="ms_append_div">
      <div id='ms_div0'>
        <input type="file" id="ms_file0" name="ms_file0"/>
        <input type = "submit" name = "button" value ="+" id='btn_filerepeat' class="btn btn-success">
        <input type="submit" name="button" value="-" class="btn btn-danger" id='btn_fileremove'>
        <br><br>
      </div>
    </div>
  </div>
    <hr>
    <input type = "submit" name = "button" value ="Submit" id='btn_ms'>


  </div>
</form>
{% endblock %}
